wheel
tensorflow
transformers
streamlit
streamlit-ace
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
